@font-face {
	font-family: 'et-line';
	src: url('fonts/et-line.eot');
	src: url('fonts/et-line.eot?#iefix') format('embedded-opentype'), url('fonts/et-line.woff') format('woff'), url('fonts/et-line.ttf') format('truetype'), url('fonts/et-line.svg#et-line') format('svg');
	font-weight: normal;
	font-style: normal;
}

#menu {
	margin: 0;
	padding: 0;
	position: fixed;
	left: 10px;
	top: 10px;
	list-style-type: none;
	z-index: 70;
}

#menu li {
	float: left;
	margin: 0 10px 0 0;
	font-size: 14px;
}

#menu a {
	float: left;
	padding: 10px 20px;
	background-color: #fff;
	color: #333;
	text-decoration: none;
}

#menu .active a {
	color: #fff;
	background-color: #333;
}

.title1 {
	color: rgba(223, 223, 223, 1);
	text-shadow: 2px 1px 2px #000000;
	font-weight: bold;
	font-size: 30px;
}

.section1 {
	background: url(../img/header_bg.jpg);
}

.section1 .container {
	background: rgba(255, 250, 250, 0.3);
	height: 100%;
	width: 100%;
}

.section1 .container img {
	margin: 50px auto;
}

.section1 .container h2 {
	color: #010101;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 13px;
}

.logo {
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	margin-top: 30px;
}

.img_wrap {
	height: 40px;
	width: 60px;
	background: #FFFFFF;
	margin: 10px;
	float: left;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 5px #CCCCCC;
}

.img_wrap:hover {
	background: #FDF6E2;
}

.img_wrap:hover img {
	transition: all 0.5s linear;
	transform: rotate(360deg);
}

.img_wrap img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	height: 20px;
	width: 20px;
}

.section2 {
	background: url(../img/bg.jpg);
}

.section2 .description .des_item {
	width: 360px;
	height: 400px;
	border-radius: 20px;
	float: left;
	margin: 10px;
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 5px 5px 10px 5px #CCCCCC;
}

.section2 .description .des_item img {}

.section3 {
	background: url(../img/bg1.jpg);
}

.section3 .skill_wrap {
	position: absolute;
	top: 100px;
	left: 50%;
	height: 400px;
	width: 400px;
	border: 1px;
	margin-left: -100px;
}

.section3 .skill_wrap h1 {
	margin-right: 120px;
}

.first_group>div,
.second_group>div,
.third_group>div,
.fouth_group>div {
	float: left;
	width: 100px;
	height: 60px;
	margin: 5px;
	line-height: 60px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 20px;
	background: #66C5BF;
	font-weight: bold;
}

.first_group>div:hover,
.second_group>div:hover,
.third_group>div:hover,
.fouth_group>div:hover {
	transition: all .8s linear;
	background: #376B6D;
}

.section3 .skill_wrap .familiar {
	background: #268785;
}

.section3 .skill_wrap .familiar:hover {
	transition: all .8s linear;
	background: #D7C4BB;
}

.first_group,
.second_group,
.third_group,
.fouth_group {
	clear: both;
}

.second_group,
.third_group {
	margin-left: -52px;
}

.section4 {
	background: url(../img/bg2.jpg);
}

.section4 .project_slide {
	height: 70%;
	width: 900px;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 5px 5px 10px 10px #CCCCCC;
	position: absolute;
	top: 20%;
	left: 18%;
	margin: 0 auto;
}

.section4 .slide .item_left {
	width: 50%;
	height: 300px;
	float: left;
	margin-bottom: 200px;
	margin-left: 50px;
	border-right: 1px solid #CCCCCC;
}

.section4 .slide .item_right {
	width: 40%;
	height: 300px;
	float: right;
	margin-bottom: 200px;
	margin-right: 30px;
}
.section4 .slide .item_right p{
	font-size: 14px;
	letter-spacing: 3px;
}
.section4 .project_img{
	height: 150px;
	width: 200px;
	float: left;
	margin-left: 10px;
	box-shadow: 2px 5px 10px 5px #C0C0C0;
	border-radius: 10px;
	overflow: hidden;
}
.section4 .project_img img{
	
	width: 100%;
	height: 100%;
}
.section5 {
	background: url(../img/header_bg.jpg);
}
.slide .source{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin: 30px;
}
.slide .source img{
	height: 100%;
	width: 100%;
}
.icon {
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 10px;
}

.icon img {
	height: 100%;
	width: 100%;
}
.section5 .contact h1,h2,h4{
	border-bottom: none;
}
.section5 .contact {
	margin-bottom: 400px;
}
h1,
h2,
h4 {
	letter-spacing: 6px;
	font-family: Arial, Tahoma, Verdana;
	border-bottom: 1px dotted #CCCCCC;
	padding: 5px;
	color: #636363;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: #A8D8B9;
	height: 15px;
	width: 15px;
	border: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
	background: #58B2DC;
}

#fp-nav ul,
.fp-slides Nav ul {}